*{
    margin: 0px;
    padding: 0px;
}
.container{
    margin: auto;
    width: 1280px;
    height: 690px;
    background-image: url('../images/menu/background.jpg');
}
img{
    filter: drop-shadow(0px 10px 5px black);
    height: 180px;
    margin-top: 20px;
}
.title{
    text-align: center;
    padding: 20px;
}
.option_box{
    margin: 120px auto;
}
.option{
    margin: 30px auto;
    padding: 20px;
    width: 300px;
    height: 100px;
    border: 7px outset #E41E26;
    text-align: center;
    font-size: 50px;
    box-sizing: border-box;
    border-radius: 15px;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: white;
    background-color: #E41E26;
    box-shadow: 0px 10px 20px #000;
}
.option:hover{
    background-color: #D31114;
    border: 7px inset #D31114;
    font-weight: bold;
    filter: drop-shadow(0 0 5px #000);
}
a{
    text-decoration: none;
}
.credit{
    margin-left: 900px;
    margin-top: -40px;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
}
