<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/question.css">
        <script type="text/javascript" src="../js/map_controller.js"></script>
        <style type="text/css">
        	.content{
        		padding: 130px 0;
        		height: 140px;
        	}
        </style>
</head>
<body onload="loadingQuest()">
	<form method="POST" name="frmQuest">
		<div class="question" id="e16">
			<div id="timezone">
		            <span id="m"></span> :
		            <span id="s"></span>
       			</div>
			<div class="content">
				<h1>
					Which tile fits in the middle such that lines of the same colour are joined together? (Turning the middle tile is allowed.)
				</h1>
				<img src="../images/a5/q16.png" style="height: 180px">
			</div>
			<div class="answer">
				<input type="radio" name="txtChoose" value = "a"><img src="../images/a5/q16a1.png">
				<input type="radio" name="txtChoose" value = "b"><img src="../images/a5/q16a2.png">
				<input type="radio" name="txtChoose" value = "c"><img src="../images/a5/q16a3.png">
				<input type="radio" name="txtChoose" value = "d"><img src="../images/a5/q16a4.png">
				<input type="radio" name="txtChoose" value = "e"><img src="../images/a5/q16a5.png">
			</div>
			<div class="send" onclick="sendAnswer()">Trả lời</div>
		</div>

	</form>
</body>
</html>