<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/question.css">
        <script type="text/javascript" src="../js/map_controller.js"></script>
        <style type="text/css">
        	.content{
        		padding: 50px 0;
        		height: 300px;
        	}
        </style>
</head>
<body onload="loadingQuest()">
	<form method="POST" name="frmQuest">
		<div class="question" id="f7">
			<div id="timezone">
		            <span id="m"></span> :
		            <span id="s"></span>
       			</div>
			<div class="content">
				<h1>Lotta cuts a big piece out of a cake. Which one?</h1>
				<img src="../images/KG2013/Q7.png">
				
			</div>
			<div class="answer">
				<input type="radio" name="txtChoose" value = "a"><img src="../images/KG2013/Q7A1.png">
				<input type="radio" name="txtChoose" value = "b"><img src="../images/KG2013/Q7A2.png">
				<input type="radio" name="txtChoose" value = "c"><img src="../images/KG2013/Q7A3.png">
				<input type="radio" name="txtChoose" value = "d"><img src="../images/KG2013/Q7A4.png">
				<input type="radio" name="txtChoose" value = "e"><img src="../images/KG2013/Q7A5.png">
			</div>
			<div class="send" onclick="sendAnswer()">Trả lời</div>
		</div>

	</form>
</body>
</html>