<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/question.css">
        <script type="text/javascript" src="../js/map_controller.js"></script>
        <style type="text/css">
        	.content{
        		padding: 50px 0;
        		height: 300px;
        	}
        </style>
</head>
<body onload="loadingQuest()">
	<form method="POST" name="frmQuest">
		<div class="question" id="f14">
			<div id="timezone">
		            <span id="m"></span> :
		            <span id="s"></span>
       			</div>
			<div class="content">
				<img src="../images/KG2013/Q14.png">
				<h1>   Peter built a podium (as in the picture). How many cubes did he use? </h1>	
			</div>
			<div class="answer">
				<input type="radio" name="txtChoose" value = "a">12
				<input type="radio" name="txtChoose" value = "b">18
				<input type="radio" name="txtChoose" value = "c">19
				<input type="radio" name="txtChoose" value = "d">22
				<input type="radio" name="txtChoose" value = "e">24
			</div>
			<div class="send" onclick="sendAnswer()">Trả lời</div>
		</div>

	</form>
</body>
</html>