<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/question.css">
        <script type="text/javascript" src="../js/map_controller.js"></script>
        <style type="text/css">
        	.content{
        		padding: 50px 0;
        		height: 300px;
        	}
        </style>
</head>
<body onload="loadingQuest()">
	<form method="POST" name="frmQuest">
		<div class="question" id="f18">
			<div id="timezone">
		            <span id="m"></span> :
		            <span id="s"></span>
       			</div>
			<div class="content">
				<h1>  In a game it is possible to make the following exchanges: </h1>
				<img src="../images/KG2013/Q18.png">
				<h1>Adam has 6 pears. How many strawberries will Adam have, when he trades all his pears for just strawberries?</h1>	
			</div>
			<div class="answer">
				<input type="radio" name="txtChoose" value = "a"> 12  
				<input type="radio" name="txtChoose" value = "b"> 36
				<input type="radio" name="txtChoose" value = "c"> 18
				<input type="radio" name="txtChoose" value = "d"> 24
				<input type="radio" name="txtChoose" value = "e"> 6
            </div>
			<div class="send" onclick="sendAnswer()">Trả lời</div>
		</div>

	</form>	
</body>
</html>