<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/question.css">
        <script type="text/javascript" src="../js/map_controller.js"></script>
        <style type="text/css">
        	.content{
        		padding: 200px 0;
        		height: 0;
        	}
        </style>
</head>
<body onload="loadingQuest()">
	<form method="POST" name="frmQuest">
		<div class="question" id="a13">
			<div id="timezone">
		            <span id="m"></span> :
		            <span id="s"></span>
       			</div>
			<div class="content">
				<h1>A dragon has 3 heads. Every time a hero cuts off head, 3 new heads emerge. The hero cuts 1 head off and then he cuts 1 off head again. How many heads does the dragon have now?</h1>
			</div>
			<div class="answer">
				<input type="radio" name="txtChoose" value = "a">4
				<input type="radio" name="txtChoose" value = "b">5
				<input type="radio" name="txtChoose" value = "c">6
				<input type="radio" name="txtChoose" value = "d">7
				<input type="radio" name="txtChoose" value = "e">8
			</div>
			<div class="send" onclick="sendAnswer()">Trả lời</div>
		</div>

	</form>
</body>
</html>