<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/question.css">
        <script type="text/javascript" src="../js/map_controller.js"></script>
        <style type="text/css">
        	.content{
        		padding: 100px 0;
        		height: 200px;
        	}
        </style>
</head>
<body onload="loadingQuest()">
	<form method="POST" name="frmQuest">
		<div class="question" id="g11">
			<div id="timezone">
		            <span id="m"></span> :
		            <span id="s"></span>
       			</div>
			<div class="content">
				<h1>
					 A square was cut into 4 parts as shown in the picture. Which of the following shapes cannot bemade with these 4 parts?<br>
					<img src="../images/KG2014/Q11.png" style="height: 200px">
				</h1>	
			</div>
			<div class="answer">
				<input type="radio" name="txtChoose" value = "a"> <img src="../images/KG2014/Q11A1.png">
				<input type="radio" name="txtChoose" value = "b"> <img src="../images/KG2014/Q11A2.png">
				<input type="radio" name="txtChoose" value = "c"> <img src="../images/KG2014/Q11A3.png">
				<input type="radio" name="txtChoose" value = "d"> <img src="../images/KG2014/Q11A4.png">
				<input type="radio" name="txtChoose" value = "e"> <img src="../images/KG2014/Q11A5.png">
                        </div>
			<div class="send" onclick="sendAnswer()">Trả lời</div>
		</div>

	</form>	
</body>
</html>