<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/question.css">
        <script type="text/javascript" src="../js/map_controller.js"></script>
</head>
<body onload="loadingQuest()">
	<form method="POST" name="frmQuest">
		<div class="question" id="a14">
			<div id="timezone">
		            <span id="m"></span> :
		            <span id="s"></span>
       			</div>
			<div class="content">
				<h1>Stars,clovers,gifts and trees repeat regularly on a game board. Some juice was spilt on the board. As a result some pictures can't be seen. How many stars were on the board before the juice was spilt?</h1>
				<img src="../images/a1/q14.png">
			</div>
			<div class="answer">
				<input type="radio" name="txtChoose" value = "a">3
				<input type="radio" name="txtChoose" value = "b">6
				<input type="radio" name="txtChoose" value = "c">8
				<input type="radio" name="txtChoose" value = "d">9
				<input type="radio" name="txtChoose" value = "e">20
			</div>
			<div class="send" onclick="sendAnswer()">Trả lời</div>
		</div>

	</form>
</body>
</html>