<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/question.css">
        <script type="text/javascript" src="../js/map_controller.js"></script>
        <style type="text/css">
        	.content{
        		padding: 50px 0;
        		height: 300px;
        	}
        </style>
</head>
<body onload="loadingQuest()">
	<form method="POST" name="frmQuest">
		<div class="question" id="g15">
			<div id="timezone">
		            <span id="m"></span> :
		            <span id="s"></span>
       			</div>
			<div class="content">
				<h1>
					Seven sticks lie on top of each other
					<img src="../images/KG2014/Q15.png">
					Stick 2 is at the bottom. Stick 6 is at the top. Which stick is in the middle?
				</h1>	
			</div>
			<div class="answer">
				<input type="radio" name="txtChoose" value = "a"> 1
				<input type="radio" name="txtChoose" value = "b"> 3
				<input type="radio" name="txtChoose" value = "c"> 4
				<input type="radio" name="txtChoose" value = "d"> 5
				<input type="radio" name="txtChoose" value = "e"> 7
			</div>
			<div class="send" onclick="sendAnswer()">Trả lời</div>
		</div>

	</form>	
</body>
</html>