<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/question.css">
        <script type="text/javascript" src="../js/map_controller.js"></script>
        <style type="text/css">
        	.content{
        		padding: 100px 0;
        		height: 200px;
        	}
        </style>
</head>
<body onload="loadingQuest()">
	<form method="POST" name="frmQuest">
		<div class="question" id="g18">
			<div id="timezone">
		            <span id="m"></span> :
		            <span id="s"></span>
       			</div>
			<div class="content">
				<h1>
					Rabbit Venya eats cabbages and carrots. Each day he eats either 10 carrots, or 2 cabbages. Last week Venya ate 6 cabbages. How many carrots did he eat?
					<img src="../images/KG2014/Q18.png" style="height: 200px">
				</h1>	
			</div>
			<div class="answer">
				<input type="radio" name="txtChoose" value = "a"> 20
				<input type="radio" name="txtChoose" value = "b"> 30
				<input type="radio" name="txtChoose" value = "c"> 34
				<input type="radio" name="txtChoose" value = "d"> 40
				<input type="radio" name="txtChoose" value = "e"> 50
			</div>
			<div class="send" onclick="sendAnswer()">Trả lời</div>
		</div>

	</form>	
</body>
</html>