<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/question.css">
        <script type="text/javascript" src="../js/map_controller.js"></script>
        <style type="text/css">
        	.content{
        		padding: 200px 0;
        		height: 0;
        	}
        </style>
</head>
<body onload="loadingQuest()">
	<form method="POST" name="frmQuest">
		<div class="question" id="g20">
			<div id="timezone">
		            <span id="m"></span> :
		            <span id="s"></span>
       			</div>
			<div class="content">
				<h1>
					 Put the digits 2, 3, 4 and 5 in the squares and calculate the sum to get the largest value. What is that value?<br>
					 <img src="../images/KG2014/Q20.png" style="height: 60px">
				</h1>	
			</div>
			<div class="answer">
				<input type="radio" name="txtChoose" value = "a"> 68
				<input type="radio" name="txtChoose" value = "b"> 77
				<input type="radio" name="txtChoose" value = "c"> 86
				<input type="radio" name="txtChoose" value = "d"> 95
				<input type="radio" name="txtChoose" value = "e"> 97
			</div>
			<div class="send" onclick="sendAnswer()">Trả lời</div>
		</div>

	</form>	
</body>
</html>