<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/question.css">
        <script type="text/javascript" src="../js/map_controller.js"></script>
</head>
<body onload="loadingQuest()">
	<form method="POST" name="frmQuest">
		<div class="question" id="a18">
			<div id="timezone">
		            <span id="m"></span> :
		            <span id="s"></span>
       			</div>
			<div class="content">
				<h1>Sparrow Jack jumps on a fence from one post to another. Each jump takes him 1 second. He makes 4 jumps ahead, then 1 jump back and again 4 jumps ahead and 1 back etc. In how many seconds does Jack get from START to FINISH?
				</h1>
				<img src="../images/a1/q18.png">
			</div>
			<div class="answer">
				<input type="radio" name="txtChoose" value = "a">10
				<input type="radio" name="txtChoose" value = "b">11
				<input type="radio" name="txtChoose" value = "c">12
				<input type="radio" name="txtChoose" value = "d">13
				<input type="radio" name="txtChoose" value = "e">14
			</div>
			<div class="send" onclick="sendAnswer()">Trả lời</div>
		</div>

	</form>
</body>
</html>