<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/question.css">
        <script type="text/javascript" src="../js/map_controller.js"></script>
</head>
<body onload="loadingQuest()">
	<form method="POST" name="frmQuest">
		<div class="question" id="b13">
			<div id="timezone">
		            <span id="m"></span> :
		            <span id="s"></span>
       			</div>
			<div class="content">
				<h1>
					Ania makes a large cube from 27 small white cubes. She paints all the faces of the large cube. Then Ania removes four small cubes from four of the corners, as shown. While the paint is still wet, she stamps each of the new faces onto a piece of paper. How many of the following stamps can Ania make?
				</h1>
				<img src="../images/a2/q13_1.png" style="width: 170px;height: 170px"><br>
				<img src="../images/a2/q13_2.png" style="width: 800px;height: 130px">
			</div>
			<div class="answer">
				<input type="radio" name="txtChoose" value = "a">1
				<input type="radio" name="txtChoose" value = "b">2
				<input type="radio" name="txtChoose" value = "c">3
				<input type="radio" name="txtChoose" value = "d">4
				<input type="radio" name="txtChoose" value = "e">5
			</div>
			<div class="send" onclick="sendAnswer()">Trả lời</div>
		</div>

	</form>
</body>
</html>