<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/question.css">
        <script type="text/javascript" src="../js/map_controller.js"></script>
          <style type="text/css">
        	.content{
        		padding: 90px 0;
        		height: 220px;
        	}
        </style>
</head>
<body onload="loadingQuest()">
	<form method="POST" name="frmQuest">
		<div class="question" id="c16">
			<div id="timezone">
		            <span id="m"></span> :
		            <span id="s"></span>
       			</div>
			<div class="content">
				<h1>
					Gear A is about to make one complete turn in the direction shown in Figure 1.<br><img src="../images/a3/q16_1.png" style="width: 200px;height: 120px;"><br>The piece “x” moved to one of the positions a, b, c, d, e shown in Figure 2.<br><img src="../images/a3/q16_2.png" style="width: 200px;height: 120px;"><br>To which position did “x” move? 
				</h1>
			</div>
			<div class="answer">
				<input type="radio" name="txtChoose" value = "a">a
				<input type="radio" name="txtChoose" value = "b">b
				<input type="radio" name="txtChoose" value = "c">c
				<input type="radio" name="txtChoose" value = "d">d
				<input type="radio" name="txtChoose" value = "e">e
			</div>
			<div class="send" onclick="sendAnswer()">Trả lời</div>
		</div>

	</form>
</body>
</html>