<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/question.css">
        <script type="text/javascript" src="../js/map_controller.js"></script>
          <style type="text/css">
        	.content{
        		padding: 110px 0;
        		height: 180px;
        	}
        </style>
</head>
<body onload="loadingQuest()">
	<form method="POST" name="frmQuest">
		<div class="question" id="c13">
			<div id="timezone">
		            <span id="m"></span> :
		            <span id="s"></span>
       			</div>
			<div class="content">
				<h1>
					Which piece is missing?
				</h1>
				<img src="../images/a4/q13.png" style="width: 260px;height: 210px">
			</div>
			<div class="answer">
				<input type="radio" name="txtChoose" value = "a"><img src="../images/a4/q13a1.png">
				<input type="radio" name="txtChoose" value = "b"><img src="../images/a4/q13a2.png">
				<input type="radio" name="txtChoose" value = "c"><img src="../images/a4/q13a3.png">
				<input type="radio" name="txtChoose" value = "d"><img src="../images/a4/q13a4.png">
				<input type="radio" name="txtChoose" value = "e"><img src="../images/a4/q13a5.png">
			</div>
			<div class="send" onclick="sendAnswer()">Trả lời</div>
		</div>

	</form>
</body>
</html>