<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/question.css">
        <script type="text/javascript" src="../js/map_controller.js"></script>
</head>
<body onload="loadingQuest()">
	<form method="POST" name="frmQuest">
		<div class="question" id="a8">
			<div id="timezone">
		            <span id="m"></span> :
		            <span id="s"></span>
       			</div>
			<div class="content">
				<h1>Katja is in a boat on a lake. Which of the pictures does she see in the lake?</h1>
				<img src="../images/a1/q8.png">
			</div>
			<div class="answer">
				<input type="radio" name="txtChoose" value = "a"><img src="../images/a1/q8a1.png">
				<input type="radio" name="txtChoose" value = "b"><img src="../images/a1/q8a2.png">
				<input type="radio" name="txtChoose" value = "c"><img src="../images/a1/q8a3.png">
				<input type="radio" name="txtChoose" value = "d"><img src="../images/a1/q8a4.png">
				<input type="radio" name="txtChoose" value = "e"><img src="../images/a1/q8a5.png">
			</div>
			<div class="send" onclick="sendAnswer()">Trả lời</div>
		</div>

	</form>
</body>
</html>