<html>
    <head>
        <title>Math Maze</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <link rel='stylesheet' type="text/css" href="../css/turtorial.css">
        <!-- FONT -->
        <link href="https://fonts.googleapis.com/css?family=Lobster&amp;subset=vietnamese" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="background"></div>
            <div class="content_container"></div>
            <div class="content">
                Nhân vật khởi đầu với 3 thanh thể lực và chỉ có thể di chuyển
                theo hình chữ thập. Thời gian giới hạn là 20 phút.
                <br><br>
                Nhiệm vụ của bạn là điều khiển nhân vật vượt qua các thử thách
                giải đố trong mê cung và chinh phục 10 kẻ thù để có thể giành
                chiến thắng.
                <br><br>
                Mỗi lần chinh phục 1 câu hỏi sẽ đạt được 100 điểm, mỗi lần trả
                lời sai sẽ bị giảm 1 thể lực ứng với 100 điểm. Điểm tối đa là
                1300 tương ứng với 10 thử thách và 300 điểm nếu không mất 1 thể
                lực nào.
                <br><br>
                Để xem ai sẽ là chủ nhân thực sự của Mê cung Toán học nào ~
            </div>
            <a href="../MathMaze.html"><div id="back_to_menu">Back to Menu</div></a>
        </div>
    </body>
</html>
